extends ./layout/layout_simple

block pagescripts
  script.
    var loginMsg = `#{loginMsg}` ; 
    if(loginMsg)
      toastr.warning("",loginMsg,{timeOut:3000, positionClass: "toast-bottom-center"});
      

block content
  .hold-transition.login-page
    .login-box
      .login-logo
        a(href="../../index2.html")
          b Admin
          | LTE
      // /.login-logo
      .card
        .card-body.login-card-body
          p.login-box-msg Sign in to start your session
          form(action="/user/login" method="post")
            .input-group.mb-3
              input.form-control(name="username" type="text" placeholder="ID")
              .input-group-append
                .input-group-text
                  span.fas.fa-user
            .input-group.mb-3
              input.form-control(name="password" type="password" placeholder="Password")
              .input-group-append
                .input-group-text
                  span.fas.fa-lock
              // /.col
            .social-auth-links.text-center.mb-3
              button.btn.btn-block.btn-primary(type="submit")
                i.fas.fa-qrcode.mr-2
                |  LOGIN QR Manage System
        // /.login-card-body
    // /.login-box