extends ../layout/layout_simple

block pagescripts 
  
  script(src="/javascripts/qrcode/qrcode.min.js")
  script.
    $('#close-btn').click(function(){ 
        window.close(); // 일반적인 현재 창 닫기
        window.open('about:blank','_self').self.close();  // IE에서 묻지 않고 창 닫기 
    })
    
    $(function () {
      var qrcode = new QRCode(document.getElementById("qrcode"), {});
      var elText = window.location.host + '/qr/confirm?uuid='+ '#{uuid}';
      qrcode.makeCode(elText);
      $('#qrcode').children('img').css("margin","0 auto");
    })


block content
  .hold-transition.login-page
    .login-box
      .card.card-primary
        .card-header
          h3.card-title QR 출입 인증
          .card-tools
            button.btn.btn-tool(type="button")
          // /.card-tools
        // /.card-header
        .card-body
          .qrcode#qrcode
          
        // /.card-body
      // /.card